.container-login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 420px;
  height: 420px;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.7rem;
}
.register__content_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .register__title p {
    font-size: 0.8rem;
    color: rgb(147, 147, 147);
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    width: 95%;
    gap: 1.2rem;
    h2 {
      font-size: 1rem;
    }
    input[type="text"] {
      position: relative;
      height: 50px;
      border-radius: 0.5rem;
      outline: none;
      border: 1px solid var(--main-blue);
      padding: 0 1rem;

      &:focus {
        border: 1px solid var(--main-red);
      }
      &:focus + label {
        display: block;
        opacity: 1;
        color: var(--main-red);
        cursor: pointer;
      }
    }
    button {
      width: 100%;
      background-color: var(--main-red);
      color: white;
      border-radius: 0.5rem;
      padding: 0.9rem;
    }
    label {
      font-size: 11px;
      color: #333;
      display: none;
      margin-top: -16px;
      opacity: 0;
      transition: all 0.4s ease;
    }
  }
}



.register__privacy {
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;

  a {
    text-decoration: none;
    color: var(--main-blue);
  }
}

.register form input::before {
  content: "این فیلد را خالی نزارید";
  position: absolute;
  color: var(--main-red);
  bottom: 0;
  right: 0;
  left: 10%;
  right: 0;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
