.all_amzing_content{
    width: 100%;
    position: relative;
    /* height: fit-content; */
    padding: 0 16px;
    margin: 20px 0 0;
}
.all_amzing_content__body{
    position: relative;
    display: flex;
    flex-direction: column;
}
.all_amzing_content__body__right{
    position: sticky;
    width: 30%;
    top: 180px;
    background-color: white;
    
}
.all_amzing_content{
    display: flex;
    flex-flow: column nowrap;

}
.all_amzing_content .all_amzing_content__header{
    width: 100%;
    padding: 12px 0;
    h2{
        font-weight: 600;
        font-size: 1rem;
    }
}
.all_amzing_conten .all_amzing_content__body{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.all_amzing_content__body .all_amzing_content__body__right{
    width: 20%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    .all_amzing_content__body__right_header{
        padding: .8rem 0;
        height: 2px;

        h2{
            color: #3e4062;
            font-size: 1.2rem;
            
        }
    }
}

.all_amzing_content__body__right_items{
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    padding: 1rem 0;
    align-items: center;
    h3{
        font-size: .9rem;
            color: #3e4062;
            
    }
  
    .all_amazing_content__body__right_items__item{
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        width: 88%;
    }
    .all_amazing_content__body__right_items__item:not(.last){
        border-bottom: .5px solid rgb(190, 188, 188);
    }   
}

/* left  */
.all_amzing_content__body__left{
    width:78%;
    margin-right: 22%;
    margin-top: -43rem;
    /* position: relative; */
    top: 0;
    left: 0;
    
    .all_amzing_content__body__left_header{
        width: 100%;
        display: flex;
        gap: 1rem;
        padding: 25px 0;
        font-size: .8rem;
        flex-flow: row nowrap;
        justify-content: space-between;

        .all_amzing_content__body__left_header_list{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 1rem;
            p{
            display: flex;
            gap: .2rem;
            font-weight: 600;
            }
            a{
                color: var(--main-gray);
                text-decoration: none;
            }
        }

    }
}

/* left body  */
.all_amzing_content_left_body__content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}.all_amzing_content_left_body__content_item{
    width: 240px;
    padding: .5rem;
    border: .6px solid rgb(214, 214, 214);   
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .product_image img{
        width: 180px;
        height: 150px;
        object-fit: contain;
    }
    h3{
        font-size: .8rem;
    }
    .today_sent{
        display: flex;
        justify-content: space-between;
        font-size: .7rem;
    }

    &:hover{
        box-shadow:0 0 10px rgba(0,0 ,0,.2);
    }

}
.all_amzing_content_left_body__content_item__info{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-direction: column;
    .price{
       display: flex;
       justify-content: space-between; 
    }
}